
*{
    font-family:'Open Sans' sans-serif;
    
}

a {
    text-decoration: none;
}
/* custom css */



/* end of custom css */

/* Bootstrap Custom */
.card {
    border-radius: 0.8rem !important;
}

/* End of Bootstrap Custom */


/* Style Registrasi */
.registrasi-container{
    background-color:#013880 !important;
    min-height: 100vh;
}


.form-container{
    padding:20px 25px;
    border:1px solid #6586B2;
    border-radius:10px;
    background-color:#809CC0;
}

.form-container h1{
    text-align:center;
    color:black;
    margin-bottom:10px;
    text-transform:uppercase;
}


.form-container label{
    text-align:center;
    color:#E8F0FE;
}

.form-container form input{
    padding:6px 5px;
    margin-bottom:15px;
    border:none;
    background-color:#E8F0FE;
}
.form-container form input{
    padding:6px 5px;
    margin-bottom:15px;
    border:none;
    background-color:#E8F0FE;
}

.form-container form button{
    width:100%;
    padding:8px 0;
    border:none;
    background-color:#F1C40F;
    font-size:14px;
    font-weight:bold;
    border-radius:6px;
    color:#013880;
    cursor:pointer;
    margin-top:12px;
    margin-bottom:10px;
}

.loader {
    width: 40px;
    position: absolute;
    top: 123px;
    z-index: -1;
    display: none;
}

@media print {
    .logout, .tambah, .form-cari, .aksi {
        display: none;
    }
}

/* End of style registrasi */

/* Style Dashboard */
article{
    padding: 20px;
    background-color: #FFFFFF;
    height: 120px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

.matkul{
    padding: 20px;
    background-color: #FFFFFF;
    height: 120px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

section article ul{
    list-style-type: none;
}

section article li{
    margin-bottom:10px;
}

nav{
    background-color: #FFFFFF;
    padding: 20px;
    font-weight: bold ;
}
/* Style end Dashboard */

