
*{
    font-family:'Open Sans' sans-serif;

}

body{
    min-height: 100vh;
}

a {
    text-decoration: none;
}
/* custom css */



/* end of custom css */

/* Bootstrap Custom */
.card {
    border-radius: 0.8rem !important;
}

/* End of Bootstrap Custom */

body {

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}


/*button */
.btn-primary {
    background-color: #343bbf !important;
 }

 .btn.hisa-button {
    background-color: #bacfe6;
    width: 35px; /* Sesuaikan lebar dengan tinggi untuk membuatnya menjadi lingkaran */
    height: 35px; /* Sesuaikan tinggi dengan lebar untuk membuatnya menjadi lingkaran */
    border-radius: 50%; /* Membuat sudut menjadi bundar untuk membuatnya menjadi lingkaran */
    text-align: center; /* Pusatkan teks secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
}

/* Style Registrasi */
.registrasi-container{
    background-color:#013880 !important;
    min-height: auto;
}


.form-container{
    padding:20px 25px;
    border:1px solid #6586B2;
    border-radius:10px;
    background-color:#809CC0;
}

.form-container h1{
    text-align:center;
    color:black;
    margin-bottom:10px;
    text-transform:uppercase;
}


.form-container label{
    text-align:center;
    color:#E8F0FE;
}

.form-container form input{
    padding:6px 5px;
    margin-bottom:15px;
    border:none;
    background-color:#E8F0FE;
}
.form-container form input{
    padding:6px 5px;
    margin-bottom:15px;
    border:none;
    background-color:#E8F0FE;
}

.form-container form button{
    width:100%;
    padding:8px 0;
    border:none;
    background-color:#F1C40F;
    font-size:14px;
    font-weight:bold;
    border-radius:6px;
    color:#013880;
    cursor:pointer;
    margin-top:12px;
    margin-bottom:10px;
}

.loader {
    width: 40px;
    position: absolute;
    top: 123px;
    z-index: -1;
    display: none;
}

@media print {
    .logout, .tambah, .form-cari, .aksi {
        display: none;
    }
}

/* End of style registrasi */

/* Style Dashboard */
.custom-dashboard-container{
    padding: 20px;
    background-color: #FFFFFF;
    height: 120px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

.matkul{
    padding: 20px;
    background-color: #FFFFFF;
    height: 120px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

section article ul{
    list-style-type: none;
}

section article li{
    margin-bottom:10px;
}

nav{
    background-color: #FFFFFF;
    padding: 20px;
    font-weight: bold ;
}
/* Style end Dashboard */

/*matkul*/
header {
    background-color: #bacfe6;
    padding: 10px;
    text-align: left;
    font-size: 10px;
    color: black;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.custom-matkul{
    padding: 10px;
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
}

footer {
    background-color: white;
    padding: 30px;
    text-align: center;
    margin-top: 10px;
    margin-right: 60px;
    margin-left: 60px;
}

nav {
    background-color: white;
    padding: 30px;
    margin-top: 10px;
    margin-right: 60px;
    margin-left: 60px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
}

li {
    float: left;
}



.table{
    color: #FFFFFF;
}
/*end style matkul*/
